@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    color: #3a6cf4;
    text-transform: uppercase;
}
.navigtion a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: #601cfc;
    padding: 30px;
}
.navigtion a:hover{
    color: #601cfc;
}
.section{
    padding: 100px 200px;
}
.main{
    width: 100;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/001.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.main h2{
    color: #f0f0f0;
    font-size: 4em;
    font-weight: 500;
}
.main h2 span{
    color: #3e6eff;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: antiquewhite;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: #3364cf;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    margin-bottom: 40px;
    border-radius: 15px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background: #2f03f1;
    transform: scale(1.1);
}
.social-icon a{
    color: #fff;
    padding-right: 30px;
}